@model IEnumerable<Planet>
<h2 style="color:blue">Planets</h2>

<table class="table table-hover">
    <tr>
        <th>Name</th>
        <th>Diameter</th>
        <th>Gravity</th>
        <th>Climate</th>
        <th>Population</th>


    </tr>

    @foreach (var planet in Model)
    {
            <tr>

                <td>@planet.name</td>
                <td>@planet.diameter</td>
                <td>@planet.gravity</td>
                <td>@planet.climate</td>
                <td>@planet.population</td>



            </tr>
    }
  

</table>